body{
    margin-left: 550px;
    margin-top: 250px;
}

header{
    margin-left: 350px;
    font-size: 50px;
    font-weight: bold;
    color: #616379;
}

.taskList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 4px;
}

.taskСontent{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    border-radius: 4px;
    align-items: center;
}

.taskСontent h2{
    margin-left: 50px;
}

.taskСontent .del{
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.taskСontent .edit{
    width: 25px;
    height: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.taskСontent .checktask{
    height: 30px;
    width: 30px;
    margin: 20px;
}

.taskСontent .timeData{
    height: 100%;
}

.del img{
    width: 20px;
    height: 20px;
}

.edit img{
width: 20px;
height: 20px;
}

select{
    margin-left: 804px;
    background-color: #C5C7D6;
    padding: 12px;
    border-radius: 4px;
}

.addTaskBtn{
    background-color: #616CE7;
    padding: 12px;
    border-radius: 4px;
}

.main{
    background-color: #C5C7D6;
    width: 1000px;
    height: 100%;
    margin-top: 10px;
    border-radius: 4px;
}

.modal{
    margin-left: 25%;
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black
}