body{
    margin-left: 500px;
    margin-top: 250px;
}

header{
    margin-left: 320px;
    font-size: 50px;
    font-weight: bold;
    color: #616379;
}

.taskList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 4px;
}

.taskСontent{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    border-radius: 4px;
    align-items: center;
}

.taskСontent h2{
    margin-left: 50px;
}

.taskСontent .del{
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.taskСontent .edit{
    width: 25px;
    height: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.taskСontent .checktask{
    height: 30px;
    width: 30px;
    margin: 20px;
}

.taskСontent .timeData{
    height: 100%;
}

.del img{
    width: 20px;
    height: 20px;
}

.edit img{
width: 20px;
height: 20px;
}

select{
    margin-left: 804px;
    background-color: #C5C7D6;
    padding: 12px;
    border-radius: 4px;
}

.addTaskBtn{
    background-color: #616CE7;
    padding: 12px;
    border-radius: 4px;
}

.main{
    background-color: #C5C7D6;
    width: 1000px;
    height: 100%;
    margin-top: 10px;
    border-radius: 4px;
}



.modal {
    margin-left: 250px;
    margin-top: 50px;
    background: rgba(82, 82, 82, 0.25);
    border: 1px solid rgba(32, 32, 32, 0.3); 
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    box-sizing: border-box;
    
    color: #000000; 
    text-shadow: 0 1px 3px rgba(0,0,0,0.2); 
}


.modal h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #242424;
}


.newTaskText {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    
    color: #000000;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    text-align: center; 
}

.newTaskText::placeholder {
    color: #202020;
    opacity: 0.7;
}

.newTaskText:focus {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Кнопка */
.addTaskButton {
    width: 100%;
    background: rgba(255, 255, 255, 0.9); 
    color: #ff0000; 
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.addTaskButton:hover {
    background: #fff;
    transform: scale(1.02); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

